{% extends "authors/authors_layout.html" %}

{% block body %}
<div class="author-profile">

    {% if author.author_image_link %}
        <img src="{{ author.author_image_link }}" alt="{{ author.alt_msg }}" class="author-profile-img">
    {% else %}
        <img src="{{ author.profile_pic.url }}" alt="{{ author.alt_msg }}" class="author-profile-img">
    {% endif %}
    <br>
    <h2 class="author-name">{{ author.name }}</h2>
    <h3 class="author-email">{{ author.email_id }}</h3>
    <small>Number of Blogs:{{ no_of_blogs }}</small>
</div>
<h3>Blogs</h3>
{% for blog in blogs %}
<a href="{% url 'blogs:blog_view' blog.blog_name %}">
    <article class="blogs-title">
        <h2>{{ blog.blog_title }}</h2>
        <small>{{ blog.published_date }}</small>
    </article>
</a>
{% empty %}
<h2>No Blogs avilable!</h2>
{% endfor %}

{% endblock %}
