{% extends 'home/home_layout.html' %}

{% block head %}
<!-- Title section -->
<section class="bg-dark text-light p-3 text-center">
  <div class="container">
    <h2 style="margin: 5px;">ABOUT US</h2>
  </div>
</section>
<br>
{% endblock head %}

{% block body %}
<!-- paragraphs -->

<div class="container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium, elit vitae venenatis consectetur, mi justo laoreet lorem, in laoreet neque nisl eget turpis. Vivamus fermentum tempor finibus. Curabitur eget hendrerit odio. In augue mauris, bibendum ac felis non, molestie interdum libero. Phasellus et lacus ante. Maecenas mollis bibendum ex vel ultrices. Nam efficitur ultrices turpis, sed tristique libero suscipit vel. Maecenas ac ligula sagittis, bibendum urna vel, vehicula erat.
    </p>
    <p>
      In sit amet bibendum ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consequat porttitor leo a feugiat. Aenean arcu metus, ullamcorper at gravida in, placerat non mauris. Sed elit odio, mattis sed rhoncus ac, ultricies sit amet risus. Ut accumsan ultrices rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum quis erat luctus, mattis libero vitae, imperdiet libero. Praesent pellentesque, velit gravida dignissim rutrum, lacus neque bibendum elit, et dignissim nibh neque vitae lorem. Proin nec blandit purus. Vestibulum congue, tortor sit amet rutrum varius, leo justo luctus nisi, a eleifend augue lectus et arcu. Quisque nisi erat, tempus quis libero vel, interdum suscipit ligula. Aenean eu gravida orci, eget rhoncus ipsum. Mauris vitae tempor quam. Aenean convallis pharetra eros, eget sollicitudin ante pulvinar in.
    </p>
    <p>
      Suspendisse vel dolor sed diam tristique dapibus. Nam et neque viverra, commodo tortor in, condimentum purus. Integer in orci sodales, sagittis purus et, maximus enim. Etiam elementum pellentesque purus. Aenean in rhoncus turpis, nec volutpat magna. Donec vel nibh dapibus, facilisis nisl non, varius lorem. Nullam posuere lectus laoreet urna tincidunt, ac iaculis lectus posuere. Proin pulvinar arcu id nibh congue tristique vel ac velit. Donec aliquet luctus est, sit amet malesuada quam interdum at. Praesent gravida eleifend neque eget eleifend. Mauris mauris ante, convallis eget metus eget, semper dignissim diam.
    </p>
    <p>
      Sed tristique lacus non vehicula scelerisque. Sed dictum ullamcorper diam, in volutpat dui laoreet nec. Vestibulum ultrices tortor ut laoreet commodo. Aenean ultricies et tortor eu fringilla. Curabitur bibendum bibendum condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis nec aliquet massa. Morbi auctor augue eget enim pharetra, sed porta ligula euismod. Sed at viverra nunc. Etiam ac nunc neque. Ut dolor orci, luctus non velit eget, dictum placerat sem. Duis aliquam arcu sed mi commodo, a malesuada metus convallis. Integer varius auctor ligula, ac laoreet tellus vehicula quis. Pellentesque vel elit odio. Sed dictum viverra posuere.
    </p>
    <p>
      Morbi ac turpis nulla. Sed in bibendum quam, at condimentum purus. Pellentesque pharetra neque magna, malesuada euismod lacus varius eget. In feugiat ipsum quis ligula tempor convallis vitae sed tortor. Aenean quis ligula velit. Mauris dapibus velit ex, quis porttitor nisi tincidunt sed. Etiam venenatis arcu nec nibh molestie maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque facilisis eget metus vitae mollis. Praesent eu eros dui. Integer sit amet iaculis ipsum, eu aliquam mauris.
    </p>
</div>
{% endblock body %}

{% block foot %}
{% endblock foot %}