{% extends "home/home_layout.html" %}

{% block body %}
<h2 id="featured-blogs-title">Featured Blogs</h2>
<div class="featured-blogs">
    {% for blog in featured_blogs reversed %}
            <article class="featured-blog-article">
                <a href="{% url 'blogs:blog_view' blog.id %}" class="featured-blog-link" >
                    <h3 class="featured-blog-title">{{ blog.title }}</h3>
                </a>
                <span class="author-name">
                    -by <a href="{% url 'authors:author_profile' blog.author.id %}">{{ blog.author.name }}</a>
                </span>
                <span class="published-date" >on {{ blog.published_date.date }}</span>
            </article>
    {% empty %}
        <h3>No featured blogs available!</h3>
    {% endfor %}
</div>
{% endblock body %}