{% extends 'blogs/blogs_layout.html' %}
{% load crispy_forms_tags    %}

{% block head %}
<section class="bg-dark text-light p-3 text-center">
    <div class="container">
      <h2>Create Blog</h2>
    </div>
</section>
{% endblock head %}

{% block body %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="margin: 5px;">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<form action="{% url 'blogs:create_blog' %}" method="POST" style="margin: 10px" enctype="multipart/form-data" >
    {% csrf_token %} 
    <fieldset class="form-group" style="margin: 10px">
      {{ form|crispy }}
    </fieldset>
    <div class="form-group text-center">
      <button class="btn btn-outline-info" type="submit">Create</button>
    </div>
</form>
<br>

{% endblock body %}