{% extends "blogs/blogs_layout.html" %}

{% block body %}
<form action="{% url 'blogs:update_blog' blog_id %}" class="blog-update-form edit-blog-form" method="POST">
    {% csrf_token %}
    <div class="form-elements">
        <p class="blog-title-input">
            <span class="input-labels blog-title-label">{{ blog_update_form.title.label }}:</span>
            {{ blog_update_form.title }}
        </p>
    </div>
    <div class="form-elements">
        <p class="blog-content-input">
            <span class="input-labels blog-content-label">{{ blog_update_form.content.label }}:</span>
            {{ blog_update_form.content }}
        </p>
        <span class="blog-editor-hints" id="editor-hint-content">Add HTML tags for markups</span>
    </div>
    <div class="form-elements">
        <!-- <p class="change-image">
            <span class="input-labels choose-image-label">{{ blog_update_form.image.label }}:</span>
            <span class="blog-editor-hints">
                Currently: <a href="{{ blog_update_form.image.url }}">blog_update_form.image.name</a>
            </span>
            <p class="clear-image">
                <span id="clear-image">{{ blog_update_form.image_clear }}</span>
                <span class="blog-editor-hints">{{ blog_update_form.image_clear.label }}</span>
            </p>
        </p>
        <span class="or">Or</span>
        <p class="change-image">
            <span class="blog-editor-hints">change:</span>
            {{ blog_update_form.image }}
        </p>
        <span class="or">Or</span> -->
        <p class="add-image-link">
            <span class="input-labels add-image-link-label">{{ blog_update_form.image_link.label }}:</span>
            {{ blog_update_form.image_link }}
        </p>
        <p class="alt-msg">
            <span class="input-labels alt-msg-label">{{ blog_update_form.alt_msg.label }}:</span>
            {{ blog_update_form.alt_msg }}
        </p>
    </div>
    <div class="form-elements form-tags">
        <p class="add-tags">
            <span class="input-labels add-tags-label">{{ blog_update_form.tags.label }}:</span>
            {{ blog_update_form.tags }}
        </p>
        <span class="blog-editor-hints" id="blog-editor-hint-tags">Ctrl+click to select multiple tags</span>
    </div>
    <br>
    {% if messages %}
        {% for message in messages %}
            <p class="messages message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <br>
    <button id="update-blog-button" type="submit">Update Blog</button>
</form>
{% endblock body %}