{% extends "blogs/blogs_layout.html" %}

{% block head %}
    {% if messages %}
        {% for message in messages %}
            <p class="messages message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endblock head %}

{% block body %}
<div class="blog-titles">
    {% for blog in blogs reversed %}
        <article class="blog-title">
            <a href="{% url 'blogs:blog_view' blog.id %}">
                <h3 class="blog-title">{{ blog.title }}</h3>
            </a>
            <span class="author-name">
                -by <a href="{% url 'authors:author_profile' blog.author.id %}">{{ blog.author.name }}</a> on {{ blog.published_date.date }}
            </span>
        </article>
    {% empty %}
    {% endfor %}
</div>
{% endblock body %}