{% extends "blogs/blogs_layout.html" %}

{% block head %}
    {% if messages %}
        {% for message in messages %}
            <p class="messages message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endblock head %}

{% block body %}
<h2 id="new-blogs-heading">New Blogs</h2>
<div class="blog-titles">
    {% for blog in blogs reversed %}
        <article class="blog-title-article">
            <a href="{% url 'blogs:blog_view' blog.id %}">
                <h2 class="blog-title">{{ blog.title }}</h2>
            </a>
            <span class="author-name">
                -by <a href="{% url 'authors:author_profile' blog.author.id %}">{{ blog.author.default.username }}</a> on {{ blog.published_date.date }}
            </span>
        </article>
        {% if request.user.username == blog.author.default.username %}
            <a href="{% url 'blogs:update_blog' blog.id %}" class="no-decoration">
                <button class="update-blog">Update</button>
            </a>
            <a href="{% url 'blogs:delete_blog' blog.id %}">
                <button class="delete-blog" onclick="return confirm('Are you sure wants to delete the blog?')">Delete</button>
            </a>
        {% endif %}
    {% empty %}
        <h3 class="no-blogs">No blogs available!!!</h3>
    {% endfor %}
</div>
{% endblock body %}