{% extends "tags/tags_layout.html" %}

{% block body %}

<h2 class="tag-name">{{tag.name}}</h2>
<p class="tag-description">{{ tag.description }}</p>
<span>No of blogs:{{ no_of_blogs }}</span>
<br>
<h2>Blogs</h2>
{% for blog in blogs %}
    <h3>
        <a href="{% url 'blogs:blog_view' blog.id %}">{{blog.title}}</a>
    </h3>
    <span>
        by <a href="{% url 'authors:author_profile' blog.id %}">{{blog.author.name}}</a> on {{ blog.published_date.date }}
    </span>
    <br>
{% empty %}
    <h3>No blogs related to the tag {{ tag.name }}</h3>
{% endfor %}
{% endblock body %}