<!-- {% extends "tags/tags_layout.html" %}

{% block body %}

<p class="tag-name">{{tag.name}}</p>
<p class="tag-description">{{ tag.description }}</p>
<span class="no-of-blogs">No of blogs:{{ no_of_blogs }}</span>
<br>
<h2>Blogs</h2>
{% for blog in blogs %}
    <a href="{% url 'blogs:blog_view' blog.id %}">
        <h2 class="blog-title">{{blog.title}}</h2>
    </a>
    <span>
        by <a href="{% url 'authors:author_profile' blog.id %}">{{blog.author.default.username}}</a> on {{ blog.published_date.date }}
    </span>
    <br>
{% empty %}
    <h3>No blogs related to the tag {{ tag.name }}</h3>
{% endfor %}
{% endblock body %} -->