#header h1{
    margin-top: 35px;
}

/* only for blog-view */

.blog-image{
    float: left;
    overflow: inherit;
    margin-right: 10px;
    padding: 5px;
}

img.blog-img{
    width: 100%;
    height: auto;
}

/* style for blog editor */

.input-labels{
    display: inline-block;
    width: 200px;
}

form.edit-blog-form div.form-elements>p>*{
    width: 95%;
}

#editor-hint-content{
    display: inline-block;
    width: 80vw;
}

#blog-editor-hint-tags{
    display: none;
}