h2.tag-name,.list-tag-name{
    background-color: black;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

h2.tag-name{
    display: inline-block;
    margin: 7px;
}

h2.tag-name,h2.tag-name>a,h2.list-tag-name>a{
    color: #66fcf1;
    font-size: 17px;
}

