/* style for tag names in tags.html */

.tags-container{
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

.tag-name{
    width: 150px;
    background-color: black;
    color: #66fcf1;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.tag-description{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span.no-of-blogs{
    font-size: small;
    background-color: black;
    color: #66fcf1;
    padding: 3px 5px;
    border-radius: 5px;
}