#header h1{
    margin-top: 35px;
}

a#create-blog-page button.create-blog-button{
    position: absolute;
    right: 60px;
    width: auto;
    padding: 5px;
    margin: auto;
    font-size: smaller;
}

#header a.login-link button.login-button{
    width: auto;
    padding: 5px;
    margin: auto;
    font-size: smaller;
}

#header a.logout-link button.logout-button{
    width: auto;
    padding: 5px;
    margin: auto;
    font-size: smaller;
}